.dockerignore

# Ignore git, but keep git HEAD and refs to access current commit hash if needed
.git
!.git/HEAD
!.git/refs

# Common development/test artifacts
/cover/
/doc/
/test/
/tmp/
.elixir_ls

# Mix artifacts
/_build/
/deps/
*.ez

# Generated on crash by the VM
erl_crash.dump

# Nix artifacts
/.postgres/
/.direnv/
/.nix-*/
result
